<h1>Editing privacy policy</h1>

<%= render "form", privacy_policy: @privacy_policy %>

<br>

<div>
  <%= link_to "Show this privacy policy", @privacy_policy %> |
  <%= link_to "Back to privacy policies", privacy_policies_path %>
</div>
