<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= topic.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= topic.body %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= topic.category_id %>
  </p>

</div>
