<h1>Editing theme color</h1>

<%= render "form", theme_color: @theme_color %>

<br>

<div>
  <%= link_to "Show this theme color", @theme_color %> |
  <%= link_to "Back to theme colors", theme_colors_path %>
</div>
