<h1>Editing life stage</h1>

<%= render "form", life_stage: @life_stage %>

<br>

<div>
  <%= link_to "Show this life stage", @life_stage %> |
  <%= link_to "Back to life stages", life_stages_path %>
</div>
