<h1>Editing onboarding</h1>

<%= render "form", onboarding: @onboarding %>

<br>

<div>
  <%= link_to "Show this onboarding", @onboarding %> |
  <%= link_to "Back to onboardings", onboardings_path %>
</div>
