<h1>Editing app layer</h1>

<%= render "form", app_layer: @app_layer %>

<br>

<div>
  <%= link_to "Show this app layer", @app_layer %> |
  <%= link_to "Back to app layers", app_layers_path %>
</div>
