<h1>Editing social medium</h1>

<%= render "form", social_medium: @social_medium %>

<br>

<div>
  <%= link_to "Show this social medium", @social_medium %> |
  <%= link_to "Back to social media", social_media_path %>
</div>
