<h1>Editing days streak</h1>

<%= render "form", days_streak: @days_streak %>

<br>

<div>
  <%= link_to "Show this days streak", @days_streak %> |
  <%= link_to "Back to days streaks", days_streaks_path %>
</div>
