<p style="color: green"><%= notice %></p>
<div id="nav"><p id="nav_title">HEAR THE SUCCESS OF YOUR ROAR IN SPRING 2024! JOIN THE WEEKLY ROAR FOR MORE!</p></div>
<div>This will be where the logo will go</div>
<div>This is where the navigation will go</div>
<h1>Homes</h1>


<div id="homes">
  <%# @homes.each do |home| %>
    <%#= render home %>
<!--    <p>-->
      <%#= link_to "Show this home", home %>
<!--    </p>-->
  <%# end %>
</div>

<%= link_to "New home", new_home_path %>
