<div id="<%= dom_id subscription %>">
  <p>
    <strong>Plan name:</strong>
    <%= subscription.plan_name %>
  </p>

  <p>
    <strong>Plan price:</strong>
    <%= subscription.plan_price %>
  </p>

  <p>
    <strong>Plan billing date:</strong>
    <%= subscription.plan_billing_date %>
  </p>

</div>
