<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= course.subtitle %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= course.category_id %>
  </p>

</div>
