<h1>Editing learning style</h1>

<%= render "form", learning_style: @learning_style %>

<br>

<div>
  <%= link_to "Show this learning style", @learning_style %> |
  <%= link_to "Back to learning styles", learning_styles_path %>
</div>
