<div id="<%= dom_id terms_of_service %>">
  <p>
    <strong>Title:</strong>
    <%= terms_of_service.title %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= terms_of_service.message %>
  </p>

</div>
