<h1>Editing terms of service</h1>

<%= render "form", terms_of_service: @terms_of_service %>

<br>

<div>
  <%= link_to "Show this terms of service", @terms_of_service %> |
  <%= link_to "Back to terms of services", terms_of_services_path %>
</div>
